main {
    width: 100%;
    height: auto;
}
main > div {
    width: 1400px;
    min-height: 600px;
    box-sizing: border-box;
    margin: 0 auto;
}
main section {
    width: 100%;
    height: 100px;
    line-height: 35px;
    margin-top: 80px;
    position: relative;
    text-align: center;
 }
/* 검색아이콘 */
main #boardSearch > span {
    position: absolute;
    top: 19px;
    left: 173px;
    cursor: pointer;
}
main #boardSearch > button {
    float: right;
    background: #555;
    color: white;
    border: none;
    font-size: 12px;
    width: 70px;
    height: 30px;
    margin-top: 15px;
    cursor: pointer;
}
main section > span {
    font-size: 26px; 
    color: #3f3f3f;
    font-weight: bold;
}
main div {
    position: relative;
}
main div > input {
    top: 15px;
    left: 0;
    width: 200px;
    height: 35px;
    padding: 0 6px;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    position: absolute;
}
main table {
    width: 1400px;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 30px;
}
/* 첫번째 열 색깔 */
main table tr:first-child {
    background: #d4d4d4;
}
main table th {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    color: #777;
    font-weight: normal;
    font-size: 14px;
    padding: 10px 0;
}
main table td {
    font-size: 14px;
    color: #333333;
    text-align: center;
    padding: 15px 6px;
    border-bottom: 1px solid #ebebeb;
}
main table td > a {display: inline-block; width: 100%; color: #555;}
main table td.prod > a > img{width: 50px; height: 50px;}
/* main table td.title {text-align: left; padding-left: 15%;} */



/* 페이지표시 */
.page {
    align-items : center;
    padding-top: 60px;
}
.num {color: #777; margin: 0 5px;}

.current {
    font-weight: bold;
    border-bottom: 2px solid #777;
}
.prev {margin-right: 30px; vertical-align: middle;}
.next {margin-left: 30px;vertical-align: middle;}
main > div > div > ul {
    width: 100%;
    overflow: hidden;
    text-align: center;
}


/*  */
main > div > div > ul > li {
    display: inline-block;
    width: 18%;
    height: 60px;
    margin: 0 10px;
    box-sizing: border-box;
    background: #f9f9f9;
}


main > div > div > ul > li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 12px;
}
main > div > div > ul > li > a > .material-icons {
    display: inline-block;
    vertical-align: middle;
    height: 55px;
    line-height: 55px;
    font-size: 20px;
    margin-right: 5px;
    box-sizing: border-box;
}
main > div {text-align: center;}
main > div > img:nth-of-type(2) {margin-bottom: 200px;}
