
* {
    margin: 0;
    padding: 0;
}
ul, ol {list-style: none;}
a {text-decoration: none; color: black;}
#wrap {width: 100%; height: auto}


header> .search {
    
    width: 100%;
    color: #6a6a6a;
    z-index: 101;
    position: relative; /* 부모 요소에 상대 위치 설정 */
    display: inline-block; /* 인라인 블록으로 설정하여 크기 조정 */
}
 .search input {
    top: -1px;
    width:220px; 
    height:35px; 
    left: 41%;
    background: #f2f2f2;
    border: none;
    border-radius: 20px;
    padding-left: 25px;
    outline: none;
    color: #8b8b8b;
    position: absolute;
    
    
} 
.search .material-icons {
    position: absolute; 
    right: 44%; 
    top: 4px;
    cursor: pointer;
}
/* .search > span {
    cursor: pointer;
    left: 70%;
    position: absolute;
} */
header {
    width: 100%;
    height: 100px; 
    box-sizing: border-box;
    background: #fff;
    top: 0;
    z-index: 5;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
}
.logo > a {
    font-weight: bold;
    line-height: 100px;
    margin-left: 50px;
    font-size: 20px;
    color: #212121;
}
.moveNavi {
    width: 100%;
    height: 50px;
    position: absolute;
    margin-top: 70px;
    z-index: 100;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
}
.category {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    margin-top: 12px;
}
.category > ul > li {
    width: 12%;
    height: 45px;
    float: left;
    text-align: center;
    position: relative;
}
.category > ul > li > a {
    display: inline-block;
    height: 100%;
    font-size: 14.5px;
}

/* 카테고리에 손대면 나오는 창 */
.drawer {
    display: none;
    position: absolute;
    top: 85px;
    left: 0px;
    width: 140px;
    height: auto;
    margin-top: -50px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    background: rgba(255,255,255,0.8);
}
.drawer > li {
    text-align: left;
    margin-top: 5px;
}
.drawer > li:first-child {margin-top: 0px;}
.drawer > li > a {font-size: 14px;}
.drawer > li > a:hover {color: #e5b334;}


.category > table tr > td {width: 16.6%; text-align: center;}
.category > table tr > td > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #000000;
}
.category > table tr > td > ul {
    background: gray;
}
.navigation {
    position: absolute;
    top: 13px;
    right: 20px;
    width: 445px;
    height: 25px;
    z-index: 3;
}
.navigation > div {float: left; margin-right: 20px;}
.navigation > div > a {font-size: 13px; color: #373737;}
.navigation > div > a:hover {color: #999;}

/*푸터*/
footer {
    width: 100%;
    height: 500px;
    border-top: 1px solid #c1cdc6;
    background: #d7e5da;
    overflow: hidden;
}
footer > div {
    width: 1400px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
footer > div > ul {
    width: 600px;
    margin-top: 30px;
    overflow: hidden;
}
footer > div > ul > li {
    float: left;
    margin-right: 30px;
}
footer > div > ul > li > a {
    color: #626861;
    font-size: 14px;
}
footer > div > ul > li > a:hover {color: #000000;} 

footer > div > section {
    float: left;
    margin-top: 30px;
    margin-right: 100px;
    line-height: 30px;
    color: #555;
}
footer > div > section > span {
    display: inline;
    font-size: 20px;
    font-weight: bold;
}
footer > div > section > ul {margin-bottom: 10px;}
footer > div > section > ul > li {
    font-size: 12px;
    line-height: 25px;
    color: #777;
}
footer > div > section > ul > li > span {color: #c36565;}
footer > div > section > ul > li > a {
    font-size: 12px;
    color: #777;
}
footer > div > section > ul > li > a:hover {color: #212121;}
.footerinfo {clear: both;}
footer > .up {
    display: none;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(14, 60, 11);
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    right: 50px;
    bottom: 50px;
}
footer > .up > span {
    margin-top: 8px;
    font-size: 36px;
}