main>.lg {
    width: 1500px;
    min-height: 600px;
    margin: 80px auto 0 auto;
}
.lg > section {
    width: 800px;
    margin: 0 auto;
}
.lg > section > h2 {
    height: 100px;
    width: 100%;
    font-size: 40px;
    font-weight: 500;
    line-height: 100px;
    text-align: center;
    margin: 10px 0;
}
.lg > section > table {
    width: 500px;
    border-collapse: collapse;
    margin: 0 auto;
}
.lg > section > table tr > td {
    width: 50%;
    height: 50px;
    color: #42723b;
    text-align: center;
    border-bottom: 3px solid #e5e5e5;
    cursor: pointer; 
}
.lg > section > table tr > td.current {
    font-weight: bold;
    color: rgb(0, 31, 9);
    border-color: rgb(0, 122, 51);
}
#member > .login {
    width: 500px;
    margin: 50px auto;
    position: relative;
}
#member > .login input {
    width: 350px;
    height: 50px;
    padding: 10px 20px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
}
#member > .login input:focus {outline: 1px solid;}
#member > .login form > button {
    position: absolute;
    top: 0;
    right: 0;
    width: 125px;
    height: 100%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background: rgb(5, 37, 24);
    outline: none;
}

#member > .login > .loginlabel {
    float: left;
    width: 100%;
    height: auto;
    font-size: 13px;
}
#member > .login > .loginlabel > label {
    cursor: pointer;
}
#member > .login > .loginlabel > label > input[type="checkbox"] {
    width: 17px;
    height: 17px;
    margin: 10px 10px 0;
    vertical-align: bottom;
    outline: none;
}




.other {
    width: 500px;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 60px auto 0 auto;
    text-align: center;
    background: #fcc773;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
}
.other > p {
    color: #404040;
    
}
.other > a {
    font-size: 16px;
    line-height: 75px;
    /* margin: 0 30px 0 30px; */
    margin: auto;
    color: #3b3b3b;
}

.m2 {display: none;}
.eye {
    position: absolute;
    top: 74px;
    right: 160px;
    cursor: pointer;
}
.close {
    display: none;
    position: absolute;
    top: 15px;
    right: 158px;
    cursor: pointer;
}

/* 마이페이지 */
.myMenu {
    width: 90%;
    height: 60px;
    box-sizing: border-box;
    margin-right: 10px;
    padding: 50px 20px;
    position: relative;
    overflow: hidden;
}

.myMenu >h2 {
    display: inline-block; 
    margin-left: 10px;
    text-align:left;
    font-family: 'Nanum Gothic', 'Noto Sans','sans-serif';
}
.myMenu > ul {
    font-size: 14px;
    text-align: right;
}
.myMenu > ul > li {
    display: inline-block;
    margin: 5px 10px;
    font-family: 'Nanum Gothic', 'Noto Sans','sans-serif';
}
.myMenu > ul > li.on > a{
    color: #000;
    border-bottom: solid 2px #4f4f4f;
    padding-bottom: 1px;
    box-sizing: border-box;
}
main div.mainContent aside.myMenu > ul > li > a:hover {
    cursor: pointer;
}