

/* myorder */
.myorderbox {
    width: 1000px;
    /* 내부div 가운데정렬 */
    margin: 0 auto;
    
    font-family: Arial, Helvetica, sans-serif;
    
}
.page {
    width: 1000px;
    margin: 0 auto;

}
.maincontent {
width: 100%;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 50px 20px;
    position: relative;
    overflow: hidden;}

/* myorder - orderList */


/* 기간 선택 */
.orderd {
    margin: 30px 0;
}
.orderd > div.dateclick {
    display: inline-block;
}
.orderd > div.datePeriod {
    display: inline-block;
    margin-left: 30px;
}
.orderd > div.datePeriod > input[type=date] {
    height: 30px;
    text-align: center;
    border: 1px solid #e5e7eb;
}
.orderd > div.datePeriod > .btn {
    width: 70px;
    height: 30px;
    background-color: #81ab9a;
    color: white;
}
/* 라디오타입 체크박스 숨기기 */
.orderd input[type=radio] {
    display: none;
} 

.orderd input[type=radio]+label {
    display: inline-block;
    cursor: pointer;
    width: 70px;
    height: 32px;
    font-size:13px;
    font-weight:bold;
    text-align: center;
    line-height: 30px;
    border: 1px solid #e5e7eb;
}
/* dateclick 기본체크 */
.orderd input[type=radio]:checked+label{
    border-color: #141414;
}


/*주문상품내용*/
.orderList > table {
    width: 1000px;
    border-collapse: collapse;
    border-spacing: 0;
}

.orderList > table th {
    height: 50px;
    font-size: 16px;
    border: 1px solid #999;
    border-left: 0;
    border-right: 0;
}

.orderList > table td {
    height: 70px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    /* 줄바꿈 */
    word-break: break-all;
    padding: 5px;
    border-bottom: 1px solid #e5e7eb;
    box-sizing: border-box;
}
/* 열기준 두번째 자식부터 쭉 */
.orderList > table td:nth-child(n+2) {
    width: 13%;
    font-weight: bold;
}
.orderList > table td:nth-child(3){
    width: 18%;
}
/* td 1행 */
.orderList > table td:first-child > div {
    display: table;
    text-align: left;
}
/* 사진 */
.orderList > table td:first-child > div > a {
    display: table-cell;
    width: 82px;
}
.orderList > table td:first-child > div > a > img {
    width: 82px;
    height: 82px;
}
.orderList > table td:first-child > div > ul {
    display: table-cell;
    padding-left: 10px;
    vertical-align: top;
}

.orderList > table td:first-child > div > ul > li#prodName {
    display: block;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    margin-top: 15px;
}
.orderList > table td:first-child > div > ul > li#option {
    display: block;
    font-size: 13px;
    
    overflow: hidden;
    margin-top: 5px;
}
.orderList > table td:last-child > div > button {
    padding: 3px 6px;
    margin: 2px 0;
}

.page {
    margin: 50px 0;
    text-align: center;
}
.num {color: #777; margin: 0 5px;}

.current {
    font-weight: bold;
    border-bottom: 2px solid #777;
}
.prev {margin-right: 30px; vertical-align: middle;}
.next {margin-left: 30px;vertical-align: middle;}
main > div > div > ul {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.orderd > div.dateBtns {
    display: inline-block;
}

/* 안내문구 */
ul.deliveryInfo {
    line-height: 1.5;
    font-size: 14px;
    text-align: left;
    display: inline-block;
    margin-left: 17%;
    margin-bottom: 20px;
}
ul.deliveryInfo > li  {
    color: #777777;
    padding-left: 8px;
    position: relative;
    line-height: 1.5;
    font-weight: bold;
}
ul.deliveryInfo > p  {
    color: #777777;
    padding-left: 0px;
    position: relative;
    line-height: 1.5;
    font-weight: bold;
}
ul.deliveryInfo > li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.6em;
    width: 3px;
    height: 3px;
    background: #777777;
    border-radius: 100%;
}

/* 마이페이지 */


.maincontent2 {
    width: 1000px;
    /* margin: 0 auto; */
    font-family: Arial, Helvetica, sans-serif;
    
}

.profileInfo {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 50px 20px;
    position:relative;
    overflow: hidden;}

.profileInfo> .basicpin{
    /* margin: 10px 0 30px 0; */
    width: 100%;
    /* display: block; */

}

.profileInfo  >div  table {
    /* margin: 0 auto; */
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    width: 900px;
    font-size: 14px;
    margin-bottom: 26px;
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
.profileInfo table > caption {
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 8px;
}
/* tr위이래 선긋기 */
.profileInfo table tr {
    padding: 5px 5px;
    border: 2px solid rgba(48, 48, 48, 0.15);
    border-left: none;
    border-right: none;
    box-sizing: border-box;
}
/* /th오른쪽으로 선긋기 */
.profileInfo table th {
    font-weight: normal;
    width: 100px;
    padding: 5px;
    border-right: 1px solid rgba(50, 50, 50, 0.15);
    box-sizing: border-box;
    vertical-align: top;
}
.profileInfo table td {
    padding: 5px;
    box-sizing: border-box;
}

.profileInfo table input, #phone1 {
    font-size: 14px;
    padding: 5px 8px;
    border: 1px solid rgba(53, 53, 53, 0.2);
    margin: 3px;
}
/* 변경불가사항 */
.profileInfo table #uid, #name {
    cursor: auto;
    background: #f5f5f5;
    color: #aaa;
    font-size: 15px;
}
/* .profileInfo table tr:last-child > td > span {
    margin-top: -12px;
} */
/* 비번변경  */
.profileInfo table span.result {
    font-size: 12px;
    color: #de6464;
}
.profileInfo table span.btn {
    border: 1px #141414;
    display: inline-block;
}


.profileInfo > .infochange{
    text-align: center;
    margin: 10px 0 30px 0;
}
.profileInfo > .infochange > a {
    display: inline-block;
    width: 110px;
    height: 42px;
    color: #fff;
    font-size: 17px;
    /* 텍스트 라인높이 */
    line-height: 41px;
    background-color: #63a38c;
}
.profileInfo > .infochange > a.cancel {
    background-color: #3f3f3f;
}